* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

body {
  width           : 100%;
  height          : 100%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background      : #1F1F1F;
  color           : #FFF;
}

.tiles-container {
  border-width : 3px;
  border-color : #560808;
  border-style : ridge;
  width        : 960px;
  height       : 960px;
  display      : flex;
  flex-wrap    : wrap;
}

.tile {
  height          : calc(100% / 48);
  width           : calc(100% / 48);
  border          : 1px solid rgba(0, 0, 0, 0.1);
  display         : flex;
  justify-content : center;
  align-items     : center;
  font-size       : 10px;
}

.tile:hover {
  scale         : 120%;
  cursor        : pointer;
  border        : 1px solid red;
  background    : #1F1F1F;
  border-radius : .1rem;
}

.mountain {
  background-color : #595959;
}

.hill {
  background-color : #074E09;
}

.plain {
  background-color : #1E9121;
}

.beach {
  background-color : #725F0D;
}

.sea {
  background-color : #2184A7;
}

